@import "../variables.scss";

.header {
	.navigationButton {
		color: $grey-one; 
		position: relative;

		&::after {
			margin: auto;
			transition: width 150ms ease-in-out;
			position: absolute;
			bottom: 0;
			margin: 0 auto; left: 0; right: 0; /* horizontal centering */
			content: '';
			height: 1px;
			width: 0;
			border-bottom: 1px solid $gold-one;
		}

		&:hover {
			color: $gold-one;

			&::after {
				width: 50%;
			}
		}

		&.active {
			color: $gold-one;

			&::after {
				transition: width 150ms ease-in-out;
				width: 100%;
			}
		}
	}
}