@import "../variables.scss";
@import "../hex/breakpoints.scss";

.championDetail {
	.image {
		position: relative;
		background-position: center;
		background-size: cover;
		aspect-ratio: 16/9;

		.titleBox {
			position: absolute;
			left: 20%;
			top: 20%;
			text-shadow: 0 0 20px #000, 0 0 20px #000, 0 0 20px #000, 0 0 20px #000;
			line-height: 48px;

			@include respond-below(md) {
				line-height: 32px;
				top: 60%;
			}


			.title {
				@include respond-below(md) {
					font-size: 32px;
				}
			}

			.subtitle {
				@include respond-below(md) {
					font-size: 24px;
				}
			}

			@include respond-below(sm) {
				aspect-ratio: 4/3;
			}
		}

		@include respond-below(sm) {
			aspect-ratio: 4/3;
		}

		@include respond-below(xs) {
			aspect-ratio: 1;
		}
	}

	.skills {
		.skill {
			max-width: 60px;
			border: 1px solid $gold-six;
			cursor: pointer;

			&:hover {
				border-color: $gold-two;
			}
		}

		[data-selected='true'] {
			border-color: $gold-one;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				bottom: -20px;
				left: 50%;
				transform: translateX(-50%);
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
			
				border-bottom: 10px solid $gold-two;
			}
		}

		.description {
			border-top: 1px solid $gold-two;
			margin-top: 18px;
		}
	}
}