@import "../hex/breakpoints.scss";
@import "../variables.scss";

.championSelect {
	display: grid;
	gap: 10px;
	grid-template-areas:
		'team1 actions team2';

	@include respond-above(sm) {
		grid-template-columns: 1fr 230px 1fr;
	}

	@include respond-below(sm) {
		grid-template-areas:
			'team1 team2'
			'actions actions';
	}

	@include respond-below(xs) {
		grid-template-areas:
			'team1'
			'team2'
			'actions';
	}

	.team1 {
		grid-area: team1;
	}

	.team2 {
		grid-area: team2;
	}

	.actions {
		grid-area: actions;

		.box {
			box-shadow: 0 0 10px $blue-three;
			animation: magicShadow 10s infinite, alternate;
		}

		@keyframes magicShadow {
			0% {
				box-shadow: 0 0 25px $blue-four;
			}
			33% {
				box-shadow: 0 0 15px $blue-three;
			}
			66% {
				box-shadow: 0 0 25px $blue-four
			}
			100% {
				box-shadow: 0 0 10px $blue-four;
			}
		}
	}

	.summoners {
		transition: all 250ms ease-in-out;

		@for $i from 1 through 30 {
			.summoner:nth-child(#{$i}) {
				opacity: 0;
				animation: fadeUp 1s calc(#{$i}s * 0.25) forwards;
			}
		}

		@keyframes fadeUp {
			from {
				transform: translateY(50px);
				opacity: 0;
			}
			to {
				transform: translateY(0);
				opacity: 1;
			}
		}

		&.hidden {
			opacity: 0;
			visibility: hidden;
			transform: translateY(50px);
		}
	}

	.champions {
		transition: all 250ms ease-in-out;


		@for $i from 1 through 30 {
			.champion:nth-child(#{$i}) {
				opacity: 0;
				animation: fadeLeft 1s calc(#{$i}s * 0.25) forwards;
			}
		}


		@keyframes fadeLeft {
			from {
				transform: translateX(10px);
				opacity: 0;
			}
			to {
				transform: translateX(0);
				opacity: 1;
			}
		}

		&.hidden {
			visibility: hidden;
			opacity: 0;
		}
	}

	.champion {
		transition: all 250ms ease-in-out;
		cursor: pointer;

		&:hover {
			transition: all 50ms ease-in-out;
			border-color: $gold-two!important;
			transform: scale(1.3)!important;

			.name {
				position: absolute;
				visibility: visible;
				left: 50%;
				padding: 2px 3px 2px 3px;
				border-radius: 3px;
				font-size: 12px;
				transform: translateX(-50%);
				background-color: $hextec;
				white-space: nowrap;
				top: -25px;
			}
		}

		.name {
			position: absolute;
			visibility: hidden;
		}

		&.hidden {
			opacity: 0;
			transform: translateX(20px);
		}
	}
}