@import "../hex/breakpoints.scss";
@import "../variables.scss";

.filter {
	display: flex;
	margin: auto;
	max-width: 850px;

	@include respond-below(lg) {
		max-width: 675px;
	}
	
	@include respond-below(md) {
		max-width: 500px;
	}

	@include respond-below(sm) {
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.search {
		max-width: 200px;
	}

	.role {
		height: 35px;
		width: 35px;
		opacity: 0.6;
		cursor: pointer;
		transition: all 150ms ease-in-out;

		&[data-active='true'] {
			opacity: 1;			
		}

		&:hover {
			filter: drop-shadow(0 0 5px rgba($gold-four, 0.7));
		}
	}
}

.championList {
	display: grid;
	justify-content: center;
	gap: 25px;
	grid-template-columns: repeat(5, 150px);

	@include respond-below(lg) {
		grid-template-columns: repeat(4, 150px);
	}
	
	@include respond-below(md) {
		grid-template-columns: repeat(3, 150px);
	}

	@include respond-below(sm) {
		grid-template-columns: repeat(2, 150px);
	}

	.champion {
		width: 150px;
		transition: all 100ms ease-in-out;
		border: 1px solid $gold-six;
		cursor: pointer;

		&:hover {
			border-color: $gold-two;

			.image {
				opacity: 1;
			}
		}

		.image {
			opacity: 0.7;
			width: 100%;
			transition: all 200ms ease-in-out;
			background-repeat: no-repeat;
			background-color: $blue-seven;
			background-size: 30px;
			background-position: center;
			aspect-ratio: 1;

			img {
				width: 100%;
				animation: fadein 100ms forwards;

				@keyframes fadein {
					from {
						visibility: hidden;
					}
					to {
						visibility: visible;
					}
				}
			}
		}
	}
}