@import "../hex/breakpoints.scss";

.randomizerInput {
	min-height: 500px;

	@include respond-below(sm) {
		min-height: 200px;
	}

	.noSummoner {
		animation: bounce 3s ease infinite;

		@keyframes bounce {
			0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
			40% {transform: translateY(-10px);}
			60% {transform: translateY(-5px);}
		}
	}

	.summoner {
		display: grid;
		align-items: center;
		gap: 5px;
		grid-template-columns: 1fr 100px 40px;

		.name {
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}