body {
  background: linear-gradient(217deg, rgb(66, 103, 167), rgb(18, 24, 51) 70.71%),
  linear-gradient(127deg, rgb(18, 24, 51), rgb(90, 142, 200) 70.71%),
  linear-gradient(336deg, rgb(128, 192, 233), rgba(0, 0, 255, 0) 70.71%);

}



@font-face {
  font-family: 'Spiegel';
  src: url('../../public/asset/Spiegel-Regular.otf');
}

@font-face {
  font-family: 'SpiegelBold';
  src: url('../../public/asset/Spiegel-Bold.otf');
}

@font-face {
  font-family: 'Beaufort';
  src: url('../../public/asset/BeaufortforLOL-Regular.otf');
}

@font-face {
  font-family: 'BeaufortLight';
  src: url('../../public/asset/BeaufortforLOL-Light.otf');
}

@font-face {
  font-family: 'BeaufortMedium';
  src: url('../../public/asset/BeaufortforLOL-Medium.otf');
}

@font-face {
  font-family: 'BeaufortBold';
  font-weight: 700;
  src: url('../../public/asset/BeaufortforLOL-Bold.otf');
}

html {
  height: 100%;
  color: white;
  font-family: LolFont;
}

.Beaufort {
  font-family: Beaufort;
  font-weight: 400;
}

.BeaufortMedium {
  font-family: BeaufortMedium;
  font-weight: 400;
}

.BeaufortLight {
  font-family: BeaufortLight;
  font-weight: 400;
}

.BeaufortBold {
  font-family: BeaufortBold;
  font-weight: 700;
}

.Spiegel {
  font-family: Spiegel;
  font-weight: 400;
}

.SpiegelBold {
  font-family: SpiegelBold;
  font-weight: 700;
}
