body {
  background: linear-gradient(217deg, rgb(66, 103, 167), rgb(18, 24, 51) 70.71%),
  linear-gradient(127deg, rgb(18, 24, 51), rgb(90, 142, 200) 70.71%),
  linear-gradient(336deg, rgb(128, 192, 233), rgba(0, 0, 255, 0) 70.71%);

}

@font-face {
  font-family: 'LolFont';
  src: url('../../public/asset/BeaufortforLOL-Medium.otf');
  font-weight: 100;
  font-style: normal;
}

html {
  height: 100%;
  color: white;
  font-family: LolFont;
}

.disp-flex {
  display: flex;
}

.train__center {
  align-items: center;
}

.train__justify-center {
  justify-content: center;
}

.fs-title {
  font-size: 30px;
}