$gold-one: #F0E6D2;
$gold-two: #C8AA6E;
$gold-three: #C8AA6E;
$gold-four: #C89B3C;
$gold-five: #785A28;
$gold-six: #463714;
$gold-seven: #32281E;
$hextec: #010A13;
$grey-half: #5B5A56;
$blue-four: #005A82;
$blue-two: #0AC8B9;
$blue-three: #0397AB;
$blue-five: #0A323C;
$blue-six: #091428;
$blue-seven: #0A1428;
$grey-three: #1E2328;
$grey-cool: #1E282D;